%% -*- erlang -*-
[{brain, [{chunksize, 1024},         % Chunk size in bytes.
          {backend, cowboy},         % Server backend.
          {max_connections, 50}      % Max number of connections (or listeners in case of Cowboy)
         ]},                         % (More than 10k makes Cowboy initialise for forever, less than 50 makes it Ranch crash.)
 {lager, [{handlers, [{lager_console_backend, debug},
                      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
                      {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
                     ]}
         ]}].
