%% -*- erlang -*-
[{brain, [{chunksize, 512}, % Chunk size in bytes.
          {backend, cowboy}
         ]},
 {lager, [{handlers, [{lager_console_backend, warning},
                      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
                      {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
                     ]}
         ]}].
