%% -*- erlang -*-
[{brain, [{chunksize, 1024},         % Chunk size in bytes.
          {backend, cowboy},         % Server backend.
          {max_connections, 10000}   % Max number of connections.
         ]},                         % (More than 10k makes Cowboy initialise for forever.)
 {lager, [{handlers, [{lager_console_backend, debug},
                      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
                      {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
                     ]}
         ]}].
